.userInfoContainer {
    position: relative;
    text-align: center;
    /* align-items: center; */
    top: 200px;
    /* height: 50%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* overflow: auto; */
}

.userInfoText {
    font-weight: bold;
    font-size: 50px;
}

