
  .leaguesTableContainer {
    /* max-width: 350px; */
    min-width: 360px;
    margin-left: 20px;
    position: relative;
    /* display: flex; */
    overflow-x: hidden;
    overflow-y: scroll;
    /* max-height: 813px; */
  }

.LeaguesTable {
  /* position: relative; */
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-collapse: collapse;
  width: 350px;
  /* height: 813px; */
  max-height: 813px;
}

.LeaguesTable tr {
  transition: all .2s ease-in;
  height: 42.5px;
}

.LeaguesTable th, .LeaguesTable td {
  padding: 12px;
  text-align: left;
}

.LeaguesTable .Header {
  background-color: green;
}

.LeaguesTable .rows:hover {
  transform: scale(1.02);
  background-color: rgba(255, 255, 255, 0.4);
}