.leaguesTableContainer {
    width: 25%;
    max-width: 328px;
    /* padding-top: 50px; */
    /* padding-left: 50px; */
    top: 50px;
    left: 50px;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    /* max-height: 300px;
    overflow-y: scroll;  */
  }

  table {
    left: 5%;
    width: 350px;
    max-width: 350px;
    border-collapse: collapse;
    overflow: hidden;
    max-height: 300px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  th, td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
  }
  th {
    text-align: left;
  }
  thead th {
    background-color: #55608f;
  }
  tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  tbody td {
    position: relative;
  }
  tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
  }