.TeamContainer {
    height: 900px;
    width: 575.5px;
    /* padding-left: 100px; */
    /* padding-right: 100px; */
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.footballPitchImage {
    position: relative;
    z-index: 0;
    height: 813px;
}
