.TeamContainer {
    top: 50px;
    width: 50%;
    max-width: 650px;
    left: 0px;
    position: relative;
    /* position: fixed; */
}

.footballPitchImage {
    transform: rotate(90deg);
    position: relative;
    z-index: 0;
    top: 120px;
    width: 125%;
}