.TeamContainer {
    height: 1200px;
    width: 575.5px;
    /* padding-left: 100px; */
    /* padding-right: 100px; */
    position: relative;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.footballPitchImage {
    position: relative;
    z-index: 0;
    height: 813px;
}
